.editInterfaceBtn{
  width: 15%;
  margin-top: 5px;
  background: #108ee9;
  color: #fff;

  &:hover{
    background: green;
    color: #fff;
  }
}

.interfaceInfoDiv{
  font-size: 14px;
  margin-top: 8px;
}

.testCaseParamEditButton{
  margin-top: 12px;
  float: left;
  background: #108ee9;
  color: #fff;

  &:hover{
    background: green;
    color: #fff;
  }
}

.testCaseParamButton{
  margin-top: 12px;
  background: #108ee9;
  color: #fff;

  &:hover{
    background: green;
    color: #fff;
  }
}

.promptMessage{
  color: #e91010;
}

